@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;

}

body {
    text-align: center;
    padding-top: 200px;
    border-radius: 0px;
    background-repeat: no-repeat;
    background-image: url(../img/imageD1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {

    font-family: 'Cinzel';
    font-style: normal;
    font-size: 64px;
    font-weight: 700;
    line-height: 86px;
    color: #151718;

}
span{
    color:#DB2777 ;
}
p{
color: rgba(44, 46, 47, 0.9);
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
margin-bottom: 70px;
}

a {
    border-radius: 80px;
    height: 56px;
    width: 202px;
    left: 207px;
    top: 0px;
    padding: 16px 32px 16px 32px;
    text-decoration: none;
    font-family: Cinzel;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}

.btn {
    color: #151718;

}

.btnrosa{
 background-color:#DB2777 ;
 color: #FFFFFF;

}
